html{
    cursor: url("../imagens/reticula.png") 30 30, auto;
}

body{
    background: rgba(50,50,50,255);
    width: 400px;
    height: 400px;
    position: absolute;
}

.alvo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(255, 0, 0);
}

.painel{
    position: absolute;
    width: 100px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;   
}

.coracao{
    width: 20px;
    height: 20px;
}

.hits{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.logoTamanho{
    width: 120px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.corTexto{
    text-align: center;
    color: #fff;
}

.corCartao{
    background: rgba(30,31,31,255);
}